.container {
	flex: 1;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	padding-bottom: 100px;
	li {
		width: calc(100% - 10px);
		margin: 5px;
		text-align: center;
		position: relative;
		padding: 10px 0;
		background-color: rgba(246, 190, 0, 0.2);
		color: var(--blue);
		font-size: 20px;
		font-weight: bold;
		text-transform: uppercase;
		&:first-child {
			background: lightgreen;
		}
		&:last-child {
			position: fixed;
			bottom: -40px;
			background: none;
			flex-direction: column;
			display: flex;
			justify-content: flex-end;

			button {
				background: salmon;
				color: white;
				font-weight: bold;
				font-size: 20px;
				padding: 10px 20px;
				border: none;
				padding-bottom: 60px;
			}
		}
	}
}
